@use "../../abstracts/variables" as var;
.page-general{
    h2{
        &:nth-child(1) {
            font-family: var.$font-asap-regular;
            font-size: 1.4em;
            strong{
                font-size: 19.6px !important;
                text-align: center;
                font-family: var.$font-asap-bold;
            }
        }    
        &:nth-child(2) {
            font-size: 1.4em;
            margin-top: 2rem;
            font-family: var.$font-asap-regular;
        }
        span{
            font-family: var.$font-asap-regular;
            line-height: 1.1;
            color: inherit;
            strong{
                 font-family: var.$font-asap-bold;
            }
        }
    }
    .btn-success{
        background: #5cb85c;
        display: inline-block;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        white-space: nowrap;
        font-size: 18px;
        margin: 1rem 0 ;
        &:hover, &:active{
            background: #198754;
            text-decoration: underline;
            color: white;
        }
    }
    .id-1519 {
        .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
            color: #4b4b4b;
            font-family: var.$font-montserrat;
            font-weight: 500;
            line-height: 1.1;
            color: #4b4b4b;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        h2 {
            font-size: 1.58em;
        }
        h5{
            font-size: 14px;
        }
    }
    .btn-block{
        width: 100%;
    }
    .btn-default{
        background-color: #fff;
        font-family: var.$font-montserrat;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 1px solid #ccc;
        padding: 6px 12px;
        font-size: 13px;
        line-height: 1.428571429;
        border-radius: 4px;
        margin: 0.8rem;
        &:hover, &:active{
            color: #333;
            background-color: #d4d4d4;
            border: 1px solid #8c8c8c;
        }
    }
    .az-element{
        h5{
            font-size: 14px;
        }
    }
    .box-ejecont {
        border-radius: .7em;
        box-shadow: 0 0.1rem 1rem rgb(0 0 0 / 10%);
        clear: both;
        display: inline-block;
        height: auto;
        margin: .5em 1em;
        padding: .4em;
        position: relative;
        transform: translateY(0);
        transition: .3s box-shadow ease, .3s transform ease;
        width: 186px;
        border: 2px solid #e38c2a;
        @media (min-width: 767px){
            width: 100%;
        }
        .box-bgcont {
            background-color: #FFF;
            padding: .4em;
            border-radius: .6em;
            min-height: 142px;
        }
        .id-boxejes {
            display: inline-block;
            margin: 1em 3.2em .2em .5em;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            position: inherit;
        }
        .ejes-icon {
            position: relative;
            right: 0;
            a{
                width: 100%;
            }
            img{
                margin: -7.4em .5em 0 auto;
                padding-top: .5em;
                height: 115px;
                width: auto;
                display: flex;
                @media (min-width: 767px){
                    height: 150px;
                }
            }
        }
    }
    p {
        font-family: var.$font-montserrat-regular;
        font-size: 14px;
        line-height: 1.6em;
        span{
            font-family: var.$font-montserrat-regular; 
        }
    }
    a{
        font-family: var.$font-montserrat-regular; 
        word-break: break-word;
        max-width: 100%;
        display: inline-block;
    }
    ul.m1 li {
        background: url("../assets/icons/general/green-list-arrow.png") no-repeat;
        list-style: none;
        margin-bottom: .5em;
        padding-left: 1.5em;
    }
    .az-text{
        h2{
            font-family: var.$font-asap-regular;
            line-height: 1.1;
            font-size: 1.4em;
            margin: 20px 0 10px 0;
        }
    }
     .qa-box {
        background-color: #fff;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border: none;
        box-shadow: 0 0.1rem 1rem rgb(0 0 0 / 10%);
        height: auto;
        margin: 2em 0 1em 0;
        min-height: 60px;
        padding: 10px;
        text-align: center;
        transition: .3s box-shadow ease,.3s transform ease;
    }
    .qa-box:hover {
        box-shadow: 0 0.3rem 2.3rem rgb(0 0 0 / 30%);
        transform: translateY(-.2rem);
    }
    .qa-word h4 {
        margin: .5em auto;
        font-size: 18px !important;
        font-family: var.$font-montserrat;
        font-weight: 500;
    }
    
    .ico-qamenu {
        display: block;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: -56px;
        min-width: 55px;
        text-align: center;
        width: 70px;
    }

    .ico-listqa, .ico-listqa img {
        margin: 0 auto;
        padding: .4em 0 .2em 0;
        vertical-align: middle;
    }
    .stpe-outlinebutton {
        display: inline-block;
        background: transparent;
        border: 1px solid #333;
        color: #333;
        border-radius: 5px;
        padding-left: 2em;
        padding-right: 2em;
        text-transform: uppercase;
        font-weight: normal;
        letter-spacing: 1px;
        font-size: 14px;
        margin-top: 0 !important;
    }
    blockquote {
        padding: 10px 20px;
        margin: 0 0 20px;
        font-size: 17.5px;
        border-left: 5px solid #eee;
    }
}
